body {
    background-color: bisque;
}
footer {
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    width:100%;
} 
footer p{
    text-align: center;
    font-size: 0.6rem;
    height:2rem;
    margin-top: 0,5rem;
    font-family: Bai Jamjuree;
    /* código omitido */

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
}

/* código omitido */


}
